.vs/*
utils/.vscode/*
utils/.pytest_cache/*
*.tlog
*.log
*.obj
*.ilk
*.pdb
*.avi
*.mp4
*.tlog
*.idb
*.pch
*.iml
*.xml
*.cmake
*.make
ManualObjectDetection/cmake-build-debug/*
ManualObjectDetection/build/*
ManualObjectDetection/detected.txt